<p><span class="s_smallBlack">精英高管-健康管理计划</span></p>
<p><span class="s_largeCyan">含全球医疗运送</span></p>
<p><span class="s_mediumCyan">及体检、牙科、眼科</span></p><div class="s_tableWrapper">
	<div class="s_tableLine">
		<div class="s_th">住院</div>
		<strong>1600万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">门诊+急诊</div>
		<strong>27.6万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">处方药</div>
		<strong>1.66万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">健康检查</div>
		<strong>5500</strong></div>
	<div class="s_tableLine">
		<div class="s_th">牙科</div>
		<strong>3.9万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">眼科</div>
		<strong>80%赔付</strong></div>
	<div class="s_tableLine">
		<div class="s_th">全球医疗运送</div>
		<strong>全额</strong></div>
	<div class="s_tableLine">
		<div class="s_th">覆盖医院</div>
		<strong>全球除美国地区，含和睦家等私立医院。</strong></div>
	<div class="s_tableLine">
		<div class="s_th">范例年龄</div>
		25 - 55岁</div>
	<div class="s_tableLine">
		<div class="s_th">费用/年</div>
		3.7 - 6.8万</div>
	<a href="javascript:;" onclick="javascript:getQuote(49);" class="s_quoteButton">咨询相关内容</a>
</div>