<p><span class="s_smallBlack">多个孩子家庭特惠计划</span></p>
<p><span class="s_mediumCyan">第2到第4个孩子</span></p>
<p><span class="s_largeCyan">只收1个孩子费用</span></p>
<div class="s_tableWrapper">
    <div class="s_tableLine">
        <div class="s_th">保单总保额</div>
        <strong>1190万</strong></div>
    <div class="s_tableLine">
        <div class="s_th">住院</div>
        <strong>全额</strong></div>
    <div class="s_tableLine">
        <div class="s_th">门诊+急诊+处方药</div>
        <strong>5.9万</strong></div>
    <div class="s_tableLine">
        <div class="s_th">门诊牙科</div>
        <strong>6000</strong></div>
    <div class="s_tableLine">
        <div class="s_th">儿童体检+疫苗</div>
        <strong>3000</strong></div>
    <div class="s_tableLine">
        <div class="s_th">成人体检</div>
        <strong>3000</strong></div>
    <div class="s_tableLine">
        <div class="s_th">覆盖医院</div>
        <strong>全球除美国地区，含和睦家等私立医院。</strong></div>
    <div class="s_tableLine">
        <div class="s_th">范例年龄</div>
        妈妈32岁 女孩3岁 男孩5岁
    </div>
    <div class="s_tableLine">
        <div class="s_th">费用/年</div>
        妈妈 2.3万 女孩1.7万 男孩0
    </div>
    <a href="javascript:;" onclick="javascript:getQuote(51);" class="s_quoteButton">咨询相关内容</a>
</div>