<p><span class="s_smallBlack">新生儿亲子计划</span></p>
<p><span class="s_largeCyan">14种儿童疫苗</span></p>
<p><span class="s_mediumCyan">+新生儿体检 +母子全年医疗</span></p><div class="s_tableWrapper">
	<div class="s_tableLine">
		<div class="s_th">住院+手术</div>
		<strong>950万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">门诊+急诊+处方药</div>
		<strong>8万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">覆盖医院</div>
		<strong>全球除美国地区，含和睦家等私立医院。</strong></div>
	<div class="s_tableLine">
		<div class="s_th">范例年龄</div>
		妈妈27岁，宝宝30天</div>
	<div class="s_tableLine">
		<div class="s_th">费用/年</div>
		妈妈2万，宝宝1.4万</div>
	<a href="javascript:;" onclick="javascript:getQuote(56);" class="s_quoteButton">咨询相关内容</a>
</div>