<p><span class="s_smallBlack">备孕妈妈精选计划</span></p>
<p><span class="s_largeCyan">12万</span><span class="s_mediumCyan">顺产</span></p>
<p><span class="s_largeCyan">18万</span><span class="s_mediumCyan">剖腹产</span></p><div class="s_tableWrapper">
	<div class="s_tableLine">
		<div class="s_th">住院</div>
		<strong>1600万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">门诊+急诊+处方药</div>
		<strong>27.6万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">处方药</div>
		<strong>1.66万</strong></div>
	<div class="s_tableLine">
		<div class="s_th">覆盖医院</div>
		<strong>全球除美国地区，含和睦家等私立医院。</strong></div>
	<div class="s_tableLine">
		<div class="s_th">孕产保障等待期</div>
		10个月</div>
	<div class="s_tableLine">
		<div class="s_th">范例年龄年</div>
		22-44岁</div>
	<div class="s_tableLine">
		<div class="s_th">费用/年</div>
		2.5-4.2万</div>
	<a href="javascript:;" onclick="javascript:getQuote(53);" class="s_quoteButton">咨询相关内容</a>
</div>